<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stoj_WinSync_comunity_made_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Stoj_Windows_explorer_comunity_made_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Stoj_WinSync_comunity_made_.My.MySettings>
            <setting name="Autoconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncList" serializeAs="String">
                <value />
            </setting>
        </Stoj_WinSync_comunity_made_.My.MySettings>
        <Stoj_Windows_explorer_comunity_made_.My.MySettings>
            <setting name="Sattelite" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
        </Stoj_Windows_explorer_comunity_made_.My.MySettings>
    </userSettings>
</configuration>
